@charset "UTF-8";
/* 폰트  */
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jaemin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jaemin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 메인 컨텐츠 */
.bravo-text{
	margin-top: 500px;
	font-family: 'Jaemin';
}

	/* 상단 3개 */
.section-main{
	height: 300px;
}
.section-main-body{
	height:250px;
}
.align-items-center{
	margin-top: 100px;
	position: relative;
	left: 50px;
}
	/* 수직선 */
.line{
	margin-top: 100px;
	width: 1px;
	height: 150px;
	background: rgba(173, 173, 173, 0.3);
}
		/* 왼쪽 */
.main-inner-item-left-top{
	width: 100px;
	height: 100px;
	left: 100px;
	margin-bottom: 30px;
	background: rgba(114, 192, 44, 1);
	background-image:url("../img/main/main-inner-item-left-top-icon.png");
	background-size: 100px 100px;
	border-radius: 100px 100px 100px 100px;
}
.main-inner-item-left-center{
	font-family: 'NotoSerifKR';
	font-size: 20px;
	left: 70px;
}
.main-inner-item-left-center span{
	border-bottom: 2px solid rgba(114, 192, 44, 1);
}
.main-inner-item-left-bottom{
	font-weight: 500;
	left: 50px;
}
		
		/* 중앙 */
.main-inner-item-center-top{
	width: 100px;
	height: 100px;
	left: 75px;
	margin-bottom: 30px;
	background: rgba(114, 192, 44, 1);
	background-image:url("../img/main/main-inner-item-center-top-icon.png");
	background-size: 100px 100px;
	border-radius: 100px 100px 100px 100px;
}
.main-inner-item-center-center{
	font-family: 'NotoSerifKR';
	font-size: 20px;
	left: 40px;
}
.main-inner-item-center-center span{
	border-bottom: 2px solid rgba(114, 192, 44, 1);
}
.main-inner-item-center-bottom{
	font-weight: 500;
	left: 30px;
}
		
		/* 오른쪽 */
.main-inner-item-right-top{
	width: 100px;
	height: 100px;
	left: 50px;
	margin-bottom: 30px;
	background: rgba(114, 192, 44, 1);
	background-image:url("../img/main/main-inner-item-right-top-icon.png");
	background-size: 100px 100px;
	border-radius: 100px 100px 100px 100px;
}
.main-inner-item-right-center{
	font-family: 'NotoSerifKR';
	font-size: 20px;
	left: 25px;
}
.main-inner-item-right-center span{
	border-bottom: 2px solid rgba(114, 192, 44, 1);
}
.main-inner-item-right-bottom{
	font-weight: 500;
	left: 5px;
}

/* =================================================================== */
/* 하단 공통 */
.like-board{
	padding-top: 50px;
	height: 600px;
}
	/* 탭 메뉴 */
	.like-board .nav-link{
		font-family: 'NotoSerifKR';
		color: black;
		border: none;
	}
	.like-board .nav-link:hover{
		color: rgba(114, 192, 44, 1);
	}
	.like-board .nav-link:focus{
		font-family: 'NotoSerifKR';
		color: rgba(114, 192, 44, 1);
		border-bottom: 2px solid rgba(114, 192, 44, 1);
	}
	/* 본문 */
	.tab-content{
		padding-top: 25px;
	}
	.like-board table{
		width: 100%;
	}
	.like-board table tr th{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.like-board table .ttile{
		padding-left: 10px;
		width: 300px;
	}
	.like-board table .tview, .tlike{
		text-align: right;
	}
	
	
	
/* 하단 커뮤니티  */
.cboard{
	margin-right: 100px;
}
.cboard .title{
	font-family: 'GmarketSansBold';
	color: gray;
	font-weight: bold;
	text-align: center;
}
.cboard hr{
	width: 80px;
	background: rgba(114, 192, 44, 0.5);
}
	






/* 하단 이력서  */
.rboard{
	margin-left: 100px;
}
.rboard .title{
	font-family: 'GmarketSansBold';
	color: gray;
	font-weight: bold;
	text-align: center;
}
.rboard hr{
	width: 80px;
	background: rgba(114, 192, 44, 0.5);
}



















