@charset "UTF-8";
/* 폰트 */
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jaemin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jaemin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 상단 이미지 페이드 인 */
.sign-header-top-img{
	animation: fadein 2s;
	-webkit-animation: fadein 2s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
/* 상단 이미지  */
.sign-header{
	
}
.sign-header-top{
	position: relative;
}
.sign-header-top-img{
	position: absolute;
	width: 100%;
	height: 1000px;
	object-fit: cover;
}

.sign-header-top-img-text{
	position: absolute;
	top: 100px;
	color: black;
}
/* 공통 */
section{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 500px;
	position: relative;
	z-index: 10;
}
.memberBoxing{
	background: rgba(255,255,255, 0.7);
}
/* 상단 텍스트 */
.title{
	font-family: 'GmarketSansBold';
	font-size: 50px;
	color: black;
	background: rgba(255,255,255, 0.7);
	text-align: center;
	border-bottom: 1px solid rgba(114, 192, 44, 1);
}

/* 라벨 */
label{
	margin-top: 5px;
	font-family: 'NotoSerifKR';
	background: rgba(255,255,255, 0.8);
}

/* 버튼 */
.member-btn{
	color: white;
	background: rgba(114, 192, 44, 1);
}
.member-btn:hover{
	color: white;
	background: rgba(114, 192, 44, 1);
	box-shadow: 500px 0 0 0 rgba(255,255,255,0.25) inset;
}
.signUp-btn{
	margin-left: 500px;
}

/* 로그인 */
.login-box{
	width: 350px;
	height: 500px;
}


/* 본문 */
.sign-img-bg{
	margin-top: 36px;
	margin-left: 30px;
}
.sign-pimg{
	margin-top: 30px;
}

.modal{
	justify-content:center;
	align-items:center;
	flex-direction:column;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.4);
	z-index: 9998;
}

.modal img{
	width:200px;
	height: 200px;
	border-radius: 15px;
}

.mailMessage{
	font-size: 15px;
	color: white;
}

